/* line 2, plus-shorter-post.scss */
html.itasaplusplus .post_wrapper {
  position: relative;
}
/* line 5, plus-shorter-post.scss */
html.itasaplusplus .post {
  min-height: 0px;
}
/* line 8, plus-shorter-post.scss */
html.itasaplusplus .postarea {
  min-height: 0px;
}

/*
.moderatorbar {
    position: absolute;
    bottom: 0;
    width: -webkit-calc(100% - 13em);
}*/
