html.itasaplusplus {

  .plus-separator {
    display:			block !important;
    height:				2px;
    margin: 			0;
  }

  .plus-splice {
    margin-bottom:		0px;
  }

  .plus-post,
  .plus-top,
  .plus-bottom  {
    background-color:	#E2F1F5 !important;
    color: 				    black;
  }
}