html.itasaplusplus {
  body,
  .ui-widget,
  input,
  textarea,
  select,
  .catbg,
  .catbg2,
  tr.catbg td,
  tr.catbg2 td,
  tr.catbg th,
  tr.catbg2 th,
  .smalltext,
  tr.smalltext th,
  .middletext,
  #horiz-menu *,
  .sum_gen *,
  span#sum_sx_tx,
  tr#titolosx span,
  tr#titolodx span {
    font-family: "Roboto", "Verdana", "Arial", "Helvetica", sans-serif !important;
  }

  .smalltext {
    font-size: 7.5pt;
  }

  .bbc_tt,
  code.bbc_code {
    font-family: "Droid Sans Mono", "dejavu sans mono", "monaco", "lucida console", "courier new", monospace;
  }
}