html.itasaplusplus {
  div.frame > div#main_menu li > a.firstlevel.highlighted {
    &.highlighted {
      background-color:		#FF8080;
      color: 					    black;
    }

    &:hover {
      background-color: 	#FF4C4C;
      color: 					    white;
    }
  }
}