@charset "CP850";
/* line 1, plus-better-itasa.scss */
html.itasaplusplus {
  /******************************************/
  /*******     TEMPLATE GENERALE     ********/
  /******************************************/
  /* Fix sfondo */
  /* Fix larghezza casella di ricerca */
  /***********************************/
  /*******     FORUM HOME     ********/
  /***********************************/
  /* Evita line wrapping in home forum nei nomi degli ultimi topic delle serie */
  /**********************************************/
  /*******     UNREAD REPLIES/TOPICS     ********/
  /**********************************************/
  /* ...con un fix per gli unread topic, che sono più stretti... */
  /**********************************************/
  /*******     UNREAD REPLIES/TOPICS     ********/
  /**********************************************/
  /**********************************************/
  /*******        LIKED POSTS LIST       ********/
  /**********************************************/
}
/* line 7, plus-better-itasa.scss */
html.itasaplusplus body {
  background: #4f6fa7 url(http://www.italiansubs.net/templates/rt_rokwebify_j15/images/bg.png) 0 0 repeat-x;
}
/* line 12, plus-better-itasa.scss */
html.itasaplusplus #search_form .input_text {
  width: 72%;
}
/* line 21, plus-better-itasa.scss */
html.itasaplusplus ul.serieslist li p.desc span {
  white-space: nowrap;
  text-overflow: ellipsis;
}
/* line 31, plus-better-itasa.scss */
html.itasaplusplus div#unreadreplies table tbody tr td,
html.itasaplusplus div#unread table tbody tr td {
  /* Aumenta la leggibilità mettendo più padding verticale nelle righe */
  padding-bottom: 5px;
  padding-top: 5px;
  background-position: 100% 22px;
  /* Rimuovi sfondo colorato topic sticky */
}
/* line 40, plus-better-itasa.scss */
html.itasaplusplus div#unreadreplies table tbody tr td.stickybg, html.itasaplusplus div#unreadreplies table tbody tr td.stickybg2,
html.itasaplusplus div#unread table tbody tr td.stickybg,
html.itasaplusplus div#unread table tbody tr td.stickybg2 {
  background: #F2F2F2;
}
/* line 44, plus-better-itasa.scss */
html.itasaplusplus div#unreadreplies table tbody tr td.subject div,
html.itasaplusplus div#unread table tbody tr td.subject div {
  /* ...e di conseguenza le immagini "vai al topic" */
}
/* line 45, plus-better-itasa.scss */
html.itasaplusplus div#unreadreplies table tbody tr td.subject div span,
html.itasaplusplus div#unread table tbody tr td.subject div span {
  /* Evidenzia i titoli dei topic rispetto al resto... */
  background-color: #D1D9DA;
  width: 480px;
  display: inline-block;
  padding: 2px;
  margin-bottom: 2px;
  margin-top: -5px;
  margin-left: -3px;
  margin-right: -3px;
  /* Metti tutti i nomi dei topic in grassetto */
}
/* line 57, plus-better-itasa.scss */
html.itasaplusplus div#unreadreplies table tbody tr td.subject div span a,
html.itasaplusplus div#unread table tbody tr td.subject div span a {
  font-weight: bold;
}
/* line 63, plus-better-itasa.scss */
html.itasaplusplus div#unreadreplies table tbody tr td.subject div a img,
html.itasaplusplus div#unread table tbody tr td.subject div a img {
  background-color: #D1D9DA;
  padding: 4px 2px 3px 12px;
  margin-top: -5px;
  margin-right: -3px;
  margin-left: 0px;
  float: right;
  height: 13px;
  width: 14px;
}
/* line 77, plus-better-itasa.scss */
html.itasaplusplus div#unread table tbody tr td.subject div span {
  width: 461px;
}
/* line 86, plus-better-itasa.scss */
html.itasaplusplus .topic_table:not(#unread, #unreadreplies) td {
  /* Fix per i titoli dei topic sticky che finiscono sopra allo sfondo
     con l'immagine della puntina... DAICAZZO! -_-' */
  /* Idem per i locked/sticky (qui il padding è doppio perché ho 2 icone) */
}
/* line 90, plus-better-itasa.scss */
html.itasaplusplus .topic_table:not(#unread, #unreadreplies) td.stickybg2, html.itasaplusplus .topic_table:not(#unread, #unreadreplies) td.lockedbg2 {
  padding-right: 30px;
}
/* line 95, plus-better-itasa.scss */
html.itasaplusplus .topic_table:not(#unread, #unreadreplies) td.locked_sticky2 {
  padding-right: 52px;
}
/* line 105, plus-better-itasa.scss */
html.itasaplusplus .like_profile_box {
  width: auto;
}
