html.itasaplusplus {

  .windowbg2 {
    .post_wrapper,
    span.topslice ,
    span.topslice *,
    span.botslice,
    span.botslice * {
      background-color:	#dfe4e9 !important;
      color: 				    black;
      margin-bottom:		0px !important;
    }
  }
}