@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/fpontillo\/Workspace\/italiansubs-plus-plus\/app\/styles\/plus-contrast\.scss}line{font-family:\000038}}
html.itasaplusplus .windowbg2 .post_wrapper,
html.itasaplusplus .windowbg2 span.topslice,
html.itasaplusplus .windowbg2 span.topslice *,
html.itasaplusplus .windowbg2 span.botslice,
html.itasaplusplus .windowbg2 span.botslice * {
  background-color: #dfe4e9 !important;
  color: black;
  margin-bottom: 0px !important;
}
