ul.quickbuttons li.myvonne.open-spoiler a {
    background:		url(../img/yvonne-spoiler/plus_yvonne_button_open.png) no-repeat 0 0
}

ul.quickbuttons li.myvonne.close-spoiler a {
    background:		url(../img/yvonne-spoiler/plus_yvonne_button_close.png) no-repeat 0 0
}

div.quickbutton {
    width: 			auto;
}