body {
    margin:		auto;
    font:		12px "RobotoRegular", "Verdana", "Arial", "Helvetica", sans-serif;

    background-color:#d7f1fb;
}

body .header {
    width:		100%;
    height:		50px;
    margin:		0;
    padding:	0;

    z-index:	0;
    position: 	fixed;

    border-bottom:	3px solid #0381ab;

    background-color:#bbf9f7;

    /* Firefox v3.6+ */
    background-image:
        -moz-linear-gradient(50% 0% -90deg,
        #c1e4f0 0%,
        #a1c9e0 99%);

    /* safari v4.0+ and by Chrome v3.0+ */
    background-image:
        -webkit-gradient(linear,
        50% 0%,
        50% 100%,
        color-stop(0, #c1e4f0),
        color-stop(0.99, #a1c9e0));

    /* Chrome v10.0+ and by safari nightly build*/
    background-image:
        -webkit-linear-gradient(-90deg,
        #c1e4f0 0%,
        #a1c9e0 99%);

    /* Opera v11.10+ */
    background-image:
        -o-linear-gradient(-90deg,
        #c1e4f0 0%,
        #a1c9e0 99%);

    background-image:
        linear-gradient(-90deg,
        #c1e4f0 0%,
        #a1c9e0 99%);

    filter:
        progid:DXImageTransform.Microsoft.gradient(startColorstr = #ffc1e4f0, endColorstr = #ffa1c9e0, GradientType = 0);

    -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr = #ffc1e4f0, endColorstr = #ffa1c9e0, GradientType = 0)";
}

body .header .content {
    width:		800px;
    margin:		auto;
    z-index:	1;
}

body .header .content img {
    display:	inline-block;
    vertical-align: middle;
}

body .header .content h1 {
    float:		right;
    background: none;
    display:	inline-block;
    margin:		0;
}

body .header .content h2 {
    background: none;
    display:	inline-block;
    margin:		0 0 0 10px;
    padding:	0;
    font-size: 	12px;
}

body div.page {
    width:				700px;
    margin:				auto;
    margin-top: 		30px;
    margin-bottom:		20px;
    padding:			10px;
    z-index:			10000;

    background-color:	#f0fbfc;

    /* Firefox v3.5+ */
    -moz-box-shadow:0px 0px 16px 4px #5799aa;
    /* Safari v3.0+ and by Chrome v0.2+ */
    -webkit-box-shadow:0px 0px 16px 4px #5799aa;
    /* Firefox v4.0+ , Safari v5.1+ , Chrome v10.0+  and by Opera v10.5+ */
    box-shadow:0px 0px 16px 4px #5799aa;

    filter:
        progid:DXImageTransform.Microsoft.Glow(Color = #ff5799aa, Strength = 20);

    -ms-filter:"progid:DXImageTransform.Microsoft.Glow(Color = #ff5799aa, Strength = 20)";
}

body div.page tr td span.ui-icon {
    display: 		inline-block;
    vertical-align:	text-bottom;
    margin-right:	5px;
}

body div.page th span.ui-icon {
    display: 		inline-block;
    vertical-align:	middle;
    margin-bottom: 	3px;
}

body div.page th span.ui-icon:last-child {
    margin-right:	5px;
}

h1, h2 {
    background: 	#A2E0DC;
    color:			#FFFFFF;
    margin:			-10px;
    margin-bottom:	5px;
    padding:		10px;
}

h1 {
    padding:	10px 10px 0px 10px;
}

h1, h2 {
    font-size: 	14px;
    text-shadow: 0px 0px 5px #27697A, 0px 0px 5px #27697A;
    color: #FFFFFF;
}

table.options-table {
    width:				100%;
    background-color:	#F2F2F2;
    border-collapse:	collapse;
    border:				1px solid black;
}
table.options-table tr {
    border-top:	1px solid black;
}
table.options-table tr th:first-child {
    text-align:		center;
    min-width:		50px;
    max-width:		50px;
    width:			50px;
    vertical-align:	text-top;
}
table.options-table tr th:not(:first-child) {
    text-align:		left;
    padding-left:	0;
}

table.options-table tr:first-child {
    background: #b8dae5;
}

table.options-table tr:first-child h2 {
    background: 	none;
    display: 		inline-block;
    margin: 		0;
    padding: 		0;
}
table.options-table tr td:first-child {
    text-align:		center;
    min-width:		50px;
    max-width:		50px;
    width:			50px;
    vertical-align:	text-top;
}
table.options-table tr td {
    color: 			#3E606F;
}
table.options-table tr td input,
table.options-table tr th input {
    min-width:		50px;
    max-width:		50px;
    margin-top:		5px;
}
table.options-table tr td:not(:first-child) {
    padding: 	5px 10px 5px 0px;
}
table.options-table tr td h3 {
    font-size:	12px;
    margin:		0px;
}

table.options-table tr td p {
    margin:		0px;
    color:		black;
    font-size:	11px;
    font-weight:normal;
}

table.options-table tr td ul {
    margin: 0px;
    color:		black;
    font-size:	11px;
    font-weight:normal;
    margin-left: -15px;
}

#fake-plus, #fake-minus {
    display:		inline-block;
    vertical-align:	text-bottom;
}