html.itasaplusplus .windowbg2 .post_wrapper,
html.itasaplusplus .windowbg2 span.topslice ,
html.itasaplusplus .windowbg2 span.topslice  *,
html.itasaplusplus .windowbg2 span.botslice ,
html.itasaplusplus .windowbg2 span.botslice  * {
    background-color:	#dfe4e9 !important;
    color: 				    black;
    margin-bottom:		0px !important;
}

html.itasaplusplus .windowbg span.botslice {
    margin-bottom: 		0;
}