/******************************************/
/*******     TEMPLATE GENERALE     ********/
/******************************************/

/* Fix sfondo */
html.itasaplusplus body {
  background: #4f6fa7 url(http://www.italiansubs.net/templates/rt_rokwebify_j15/images/bg.png) 0 0 repeat-x;
}

/* Fix larghezza casella di ricerca */
html.itasaplusplus #search_form .input_text {
    width: 72%;
}

/***********************************/
/*******     FORUM HOME     ********/
/***********************************/

/* Evita line wrapping in home forum nei nomi degli ultimi topic delle serie */
html.itasaplusplus ul.serieslist li p.desc span {
    white-space: 		nowrap;
    text-overflow: 		ellipsis;
}

/**********************************************/
/*******     UNREAD REPLIES/TOPICS     ********/
/**********************************************/

/* Rimuovi sfondo colorato topic sticky */
html.itasaplusplus div#unreadreplies table tbody tr td.stickybg,
html.itasaplusplus div#unreadreplies table tbody tr td.stickybg2,
html.itasaplusplus div#unread table tbody tr td.stickybg,
html.itasaplusplus #unread table tbody tr td.stickybg2 {
    background: #F2F2F2;
}

/* Metti tutti i nomi dei topic in grassetto */
html.itasaplusplus div#unreadreplies table tbody tr td.subject div span a,
html.itasaplusplus div#unread table tbody tr td.subject div span a {
    font-weight: bold;
}

/* Evidenzia i titoli dei topic rispetto al resto... */
html.itasaplusplus div#unreadreplies table tbody tr td.subject div span,
html.itasaplusplus div#unread table tbody tr td.subject div span {
    background-color: #D1D9DA;
    width: 480px;
    display: inline-block;
    padding: 2px;
    margin-bottom: 2px;
    margin-top: -5px;
    margin-left: -3px;
    margin-right: -3px;
}

/* ...con un fix per gli unread topic, che sono più stretti... */
html.itasaplusplus div#unread table tbody tr td.subject div span {
    width: 461px;
}

/* ...e di conseguenza le immagini "vai al topic" */
html.itasaplusplus div#unreadreplies table tbody tr td.subject div a img,
html.itasaplusplus div#unread table tbody tr td.subject div a img {
    background-color: #D1D9DA;
    padding: 4px 2px 3px 12px;
    margin-top: -5px;
    margin-right: -3px;
    margin-left: 0px;
    float: right;
    height: 13px;
    width: 14px;
}

/* Aumenta la leggibilità mettendo più padding verticale nelle righe */
html.itasaplusplus div#unreadreplies table tbody tr td,
html.itasaplusplus div#unread table tbody tr td {
    padding-bottom: 5px;
    padding-top: 5px;
    background-position: 100% 22px;
}


/**********************************************/
/*******     UNREAD REPLIES/TOPICS     ********/
/**********************************************/

/* Fix per i titoli dei topic sticky che finiscono sopra allo sfondo 
   con l'immagine della puntina... DAICAZZO! -_-' */
html.itasaplusplus .topic_table:not(#unread, #unreadreplies) td.stickybg2,
html.itasaplusplus .topic_table:not(#unread, #unreadreplies) td.lockedbg2 {
    padding-right: 30px;
}

/* Idem per i locked/sticky (qui il padding è doppio perché ho 2 icone) */
html.itasaplusplus .topic_table:not(#unread, #unreadreplies) td.locked_sticky2 {
    padding-right: 52px;
}
