/* Body */
body {
	background: #e5e5e5 !important;
	margin-top: 8px !important;
}

#content_section, #header {
	background: #e5e5e5;
}

#header {
	width: auto;
}

body div:not([class*=tipsy]) div:nth-child(4) {
	border: none !important; /* TODO: should avoid matching .highslide as well */
}

/* Bars and headers */
.cat_bar, .catbg {
	font-family: "Roboto Condensed";
	color: #666 !important;
	margin-bottom: 8px !important;
	background: transparent !important;
}

div#upper_section div.user {
	background: none;
	border: none;
}

#upper_section {
    color: #000;
	box-shadow: 0 1px 2px #aaa;
	background: white !important;
    border-top: 1px solid #aaa;
	border-radius: 3px;
}

#upper_section ul li.greeting {
	font-weight: 100;
	font-size: 24px;
	padding-bottom: 6px;
}

#upper_section ul li:not(.greeting) {
	font-size: 13px;
	line-height: 1.2;
	color: #333;
}

#upper_section div.user p.avatar {
	padding-left: 8px;
	padding-right: 8px;
}

#upshrink {
    content: url("../img/kitkat/header-toggle.png");
}

/* Main header */
div#header_j,
div#header_j .rk-1,
div#header_j .rk-2 {
	background: #e5e5e5;
}

div#header_j .rk-6 {
	background: url("../img/kitkat/header-logo.png") no-repeat scroll 0 0 transparent;
}

#header_j div.rk-3 a img {
	-webkit-mask-image: url("../img/kitkat/header-mask.png");
}

/* Main header bar */
div#horiz-menu,
div#horiz-menu ul {
	background: none;
	text-transform: uppercase;
	background-color: #e5e5e5;
}

div#horiz-menu {
	padding: 0;
	margin: 0;
	padding-bottom: 6px;
}

div#horiz-menu ul {
	width: 100%;
	border: #ccc 1px solid;
}

ul.sf-menu a, ul.sf-menu a:visited  {
	color:			#333;
}

div#horiz-menu > ul.sf-menu {
	background-color: #e5e5e5;
	background-image: url("../img/kitkat/stripes-bg.png");
}

ul.sf-menu > li, .sf-menu > li:last-child {
	border-bottom: #33b5e5 3px solid;
	background-color: #e5e5e5;
	background-image: url("../img/kitkat/stripes-bg.png");
}

ul.sf-menu li.parent ul {
	border: #ccc 1px solid;
	border-radius: 0px;
    position: absolute;
    padding-top: 50px;
    top: 2.1em;
	left: -1px;
	transition: opacity .3s ease-in-out;
    
	min-width: 160px;
    max-width: 200px;
}

.sf-menu > li li {
	background: #eee;
    box-shadow: 0 2px 2px #999;
	border-bottom: 1px solid #ccc;
	height: 30px !important;
}

ul.sf-menu > li.parent > ul > li > a {
	height: 30px !important;
	padding-top: 3px !important;
}

.sf-menu li > li {
    border-top: 1px solid #ddd;
}

.sf-menu > li > ul >li:last-child, .sf-menu > li > ul li.last-child {
	border-bottom: none;
}

.sf-menu li:hover, .sf-menu li.sfHover,
.sf-menu a:hover {
	background:		#ccc;
}

.sf-menu li:focus, .sf-menu li:active {
	background: #59C1E8;
}

.sf-menu > li:hover, .sf-menu> li.sfHover {
	background-color: rgba(51, 181, 229, .2);
	background-image: url("../img/kitkat/stripes-bg.png");
}

.sf-menu a:hover, .sf-menu a:active {
	background: none;
}

.sf-menu li .separator {
	display: block;
	border-left:	0px solid #fff;
	border-top:		0px solid #CFDEFF;
	padding: 		.75em 1em;
	text-decoration:none;
}

a > .sf-sub-indicator {
	background: none;
}

/* "MyItasa affinità" badge */
.myitasa_affinita div {
    background: #e5e5e5 !important;
	border-color: #aaa !important;
}

.myitasa_affinita div span {
    margin-top: 7px !important;
	color: #666 !important;
}

.myitasa_affinita div span span {
    margin-top: -6px !important;
	margin-right: 1px !important;
}

/* Post title */
[id^="subject_"] {
    font-weight: 300;
    font-size: 20px;
    margin-bottom: 8px;
    color: #000;
    line-height: 1.1;
}

.keyinfo {
    width: 65%;
}

/* Post details (reply number, timestamp) */
div.keyinfo > div.smalltext {
    color: #666;
    font-size: 11px;
}

div.keyinfo > div.smalltext > strong {
    font-weight: 600;
}

/* Post author */
div.poster * {
    font-family: "Roboto Condensed";	
	font-size: 12px;
    color: #666 !important;
}

div.poster > h4 {
    margin-bottom: 16px;
}

div.poster > h4 > a {
    font-size: 20px !important;
	padding-left: 6px;
}

/* Horizontal rulers */
hr {
	color: #aaa;
}

/* Post buttons */
.quickbutton {
    width: auto;
}

ul.quickbuttons {
	background: transparent !important;
	border: 0px !important;
}

ul.quickbuttons li, 
div.quickbutton ul, 
div.quickbutton li, 
ul.like_separated_button li.like_button a,
ul.like_separated_button li.unlike_button a {
	background-color: transparent !important;
	border: 0px;
	border-right: 1px solid #aaa;
}

div.quickbuttons li:last-child,
div.quickbutton ul, 
div.quickbutton li, 
ul.like_separated_button li.like_button a,
ul.like_separated_button li.unlike_button a {
	border-right: 0px !important;
}

/* Like bars */
.like_post {
	background: #eee;
	border: 1px solid #aaa;
	margin-right: 22px;
}

/* Posts BG: cards style */
.windowbg, .windowbg2, .topslice, .botslice {
    color: #000;
	box-shadow: 0 1px 2px #aaa;
	padding-top: 8px;
	background: white !important;
	margin: 0 0 1rem;
    border-top: 1px solid #aaa;
	border-radius: 3px;
}

.post_separator {
  height: 0px !important;
}

.windowbg .post_wrapper, .windowbg2 .post_wrapper {
    background: transparent !important;
}

.botslice > *,
.topslice,
.botslice, 
.topslice > *, 
#quickModForm div span {
    background: transparent !important;
    border-width: 0px !important;
	box-shadow: 0px 0px rgba( 0, 0, 0, 0.0 ) !important;
	-webkit-border-radius: 0px !important;
    border-radius: 0px !important;
    height: 0px !important;
	margin: 0px;
	padding: 0px;
}

/* Generic small text */
.smalltext {
    color: #666;
    font-size: 11px;
}

/* Links */
a {
	color: #666 !important;
}

/* Button lists */
button, input[type="button"],
input[type="submit"],
input[type="reset"],
.buttonlist ul li a,
div#main_menu ul li a {
	border-width:1px;
	border-style:solid;
	border-color:transparent;
	-webkit-border-radius:1px;
	   -moz-border-radius:1px;
			border-radius:1px;
			
	-webkit-tap-highlight-color: transparent !important;
	background: #CECECE;
        
	border-left-color: #C8C8C8;
	border-right-color: #C8C8C8;
	border-top-color: #DFDFDF;
	border-bottom-color: #979797;
	
	text-transform:uppercase;
        
	color: #333 !important;
}

.buttonlist ul li a.active,
button:enabled.active,
input[type="button"]:enabled.active,
input[type="submit"]:enabled.active,
input[type="reset"]:enabled.active,
div#main_menu ul li .active {
	background: #ADADAD;
        
	border-left-color: #AAAAAA;
	border-right-color: #AAAAAA;
	border-top-color: #BBBBBB;
	border-bottom-color: #777777;
}

button:hover, 
input[type="button"]:hover, 
input[type="submit"]:hover, 
input[type="reset"]:hover, 
.buttonlist ul li a:hover, 
div#main_menu ul li a:hover {
	background: #A6DAED;
        
	border-left-color: #30AAD2;
	border-right-color: #30AAD2;
	border-top-color: #59BBDC;
	border-bottom-color: #2B98BC;
	
	-webkit-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.2), inset 0px 0px 0px 1px #30ABD4;
	   -moz-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.2), inset 0px 0px 0px 1px #30ABD4;
			box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.2), inset 0px 0px 0px 1px #30ABD4;
}

.buttonlist ul li a:active,
button:enabled:active,
input[type="button"]:enabled:active,
input[type="submit"]:enabled:active,
input[type="reset"]:enabled:active,
div#main_menu ul li a:active {
	background: #59C1E8;
        
	border-left-color: #57BCE2;
	border-right-color: #57BCE2;
	border-top-color: #85D2EE;
	border-bottom-color: #4597B5;
}

/* Main menu */
div#main_menu ul li  {
	color: red !important;
}

/* Styles for the standard dropdown menus.
------------------------------------------------------- */
#main_menu
{
	padding: 0 0.5em;
	float: left;
	margin: 0;
	width: 98%;
}

.dropmenu, .dropmenu ul
{
	list-style: none;
	line-height: 1em;
	padding: 0;
	margin: 0;
}

/* the background's first level only */
.dropmenu li ul {
	position: absolute;
	width: 19.2em;
	z-index: 90;
	overflow: hidden;
	padding: 0 0 0 0;
	
	-webkit-opacity: 0;
		    opacity: 0;
	
	-webkit-transform-origin: 100% 0%;
		    transform-origin: 100% 0%;
	
	-webkit-transition-property: -webkit-opacity;
	-webkit-transition-duration: .25s;
	-webkit-transition-timing-function: ease;
	
	transition-property: opacity;
	transition-duration: .25s;
	transition-timing-function: ease;
	
	background: url(http://developer.android.com/assets/images/more_mid.png);
}

.dropmenu li li
{
	border-left: 0px;
	border-right: 0px
}

.dropmenu li ul ul
{
	margin: -1.8em 0 0 13em;
}
.dropmenu li a.firstlevel
{
	background-color: transparent;
    border-radius: 2px;
}

/* the active button */
.dropmenu li a.active
{
	background-color: transparentF;
    border-radius: 2px;
    color: #fff;
	font-weight: bold;
}

/* the hover effects */
.dropmenu li a.firstlevel:hover, .dropmenu li:hover a.firstlevel
{
	background-color: transparent;
    border-radius: 0px;
    color: #3E606F;
	cursor: pointer;
	text-decoration: none;
}

/* the hover effects on level2 and 3 */
.dropmenu li li a:hover, .dropmenu li li:hover>a
{
	background: transparent;
	color: #3E606F;
	text-decoration: none;
}

.dropmenu li:hover ul ul, .dropmenu li:hover ul ul ul
{
	top: -999em;
}
.dropmenu li li:hover ul
{
	top: auto;
}

.dropmenu li:hover ul
{
	display: block;
	opacity:1;
    -webkit-transition-property:height,  -webkit-opacity;
}

.dropmenu li li.additional_items
{
	background-color: #fff;
}

/* Search bar */
#search_form {
	height: 30px;
}

#search_form input {
	position: relative;
	top: 16%;
}

#search_form input[type="submit"] {
	height: 24px;
}

#search_form input[type="text"] {
	width: 55% !Important;
	height: 18px;
	background-color: transparent;
	border: 0px;
	border-bottom: 1px solid #aaa;
}

#search_form input[type="text"]:focus,
#search_form:hover input[type="text"] {
	border-bottom: 1px solid #33B5E5;
}