.windowbg2 .post_wrapper,
.windowbg2 span.topslice ,
.windowbg2 span.topslice  *,
.windowbg2 span.botslice ,
.windowbg2 span.botslice  * {
    background-color:	#dfe4e9 !important;
    color: 				black;
    margin-bottom:		0px !important;
}

.windowbg span.botslice {
    margin-bottom: 		0;
}