html.itasaplusplus .post_wrapper {
    position:   relative;
}

html.itasaplusplus .post {
    min-height: 0px;
}

html.itasaplusplus .postarea {
    min-height: 0px;
}

/*
.moderatorbar {
    position: absolute;
    bottom: 0;
    width: -webkit-calc(100% - 13em);
}*/
